*{
    margin: 0;
    padding: 0;
}
.header{
    height: 70px;
    width:auto ;
    color: white;
    background-color: #0a1d31;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices{
    max-width: fit-content;
    display: flex;
    margin-left: 29%;
    margin-top: 70px;
}
.choice1{
    width:170px;
    justify-content: center;
    align-items: center;
}
.choice1 img{
    width: 240px;
    transform: rotate(-0.25turn);
    border-radius: 50%;
    border: 10px solid black;

}
.choice1 img:hover{
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}
.y2{
    font-size: 29px;
    margin-right: 25px;
}
#userscore{
    font-size: 50px;
    margin-left: 15px;
}
#compscore{
    font-size: 50px;
    margin-left: 37px;
}
#drawscore{
    font-size: 50px;
    margin-left: 20px;
}
.msg-container{
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size : 20px;
    font-weight: 600;
    margin-top: 20px;
}
#msg-text{
    padding: 1rem;
    background-color: green;
    font-size: 30px;
    border: 3px  solid purple;
    border-radius: 10px;
    margin-right: 40px;
}